:root{
    --primary-txt-color: #323232;
    --primary-bg-color: #CB9AD2;
    --secondary-bg-color: #DEDEDE;
}


div{
    color: var(--primary-txt-color);
}

h1{
    font-size: 8rem;
    font-family: inherit;
}

h2{
    font-size: 4rem;
    font-family: inherit;
}

.begin{
    font-weight: 400;
    font-size: 2rem;
    font-family: inherit;
}

.typing{
    font-size: 3rem;
}

.hi{
    padding-left: 24%;
    margin-top: 12%;
}

.startText{
    width: 100%;
    text-align: center;
    margin-bottom: 9%;
}

p{
    font-size: 1.5rem;
}

.purple{
    background-color: var(--primary-bg-color);
    margin-top: -11%;
    padding: 12% 0 0 0;
}

.aboutDiv{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 2rem;
    font-family: inherit;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.aboutDivText{
    width: 53%;
}

.projectsDiv{
    text-align: center;
    margin-top: 10%;
}

.projectSectionsDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
}

.projectSection{
    border-radius: 15px;
    background-color: #DEDEDE;
    width: 30%;
    margin-bottom: 5%;
    padding-bottom: 10px;
}

.projectSection h3{
    margin-top:3%;
    margin-bottom: 0;
    font-size: 2rem;
}

.projectSection ul{
    padding: 0;
    margin-top: 3%;
    margin-bottom: 3%;
}

.projectSection li{
    text-align: left;
    margin-left: 13%;
    font-size: 1.5rem;
    margin-top:2%;
}

.projectSection a:link, .projectSection a:active{
    color: var(--primary-txt-color);
    font-size: 1.5rem;
    text-decoration: none;

}


.graduateImg{
    border: 4px solid white;
    border-radius: 100%;
    width: 400px;
    height: 400px;
}

.contactDiv{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10%;
    width: fit-content;
    text-align: center;
    
}

svg{
    color: var(--primary-txt-color);
    font-size: 1.5rem;
    transition: 0.1s;
    margin-bottom: 3%;
    position: relative;
    z-index: 0;
}

svg:hover{
    color: #585858;
    font-size: 1.7rem;
    cursor: pointer;
}

footer{
    text-align: center;
    margin-top: 5%;
    padding-bottom: 1%;
    font-size: 1.2rem;
}
