div{
    color: #323232;
}

h1{
    font-size: 8rem;
    font-family: inherit;
}

h2{
    font-size: 4rem;
    font-family: inherit;
}

.begin{
    font-weight: 400;
    font-size: 2rem;
    font-family: inherit;
}

.hi{
    padding-left: 24%;
    margin-top: 12%;
}

.startText{
    width: 100%;
    text-align: center;
    margin-bottom: 12%;
}

p{
    font-size: 1.5rem;
}

.purple{
    background-color: #CB9AD2;
    margin-top: -11%;
    padding: 12% 0 2000px 0;
}

.aboutDiv{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 2rem;
    font-family: inherit;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.aboutDivText{
    width: 53%;
}

.projectsDiv{
    text-align: center;
    margin-top: 10%;
}

.projectSectionsDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
}

.projectSection{
    border-radius: 15px;
    background-color: #DEDEDE;
    width: 30%;
    margin-bottom: 5%;
}



.graduateImg{
    border: 4px solid white;
    border-radius: 100%;
    width: 400px;
    height: 400px;
}

